<form action="" (ngSubmit)="onSubmit()">
  <h2>Registrar un nuevo artículo</h2>
  <div>
    <label for="title">Id del artículo</label>
    <input type="text" name="id" id="" [(ngModel)]="id">
  </div>

  <div>
    <label for="title">Título</label>
    <input type="text" name="title" id="title" [(ngModel)]="title">
  </div>
  
  <div>
    <label for="price">Precio</label>
    <input type="number" name="price" id="price" [(ngModel)]="price">
  </div>

  <div>
    <label for="quantity">Cantidad</label>
    <input type="number" name="quantity" id="quantity" [(ngModel)]="quantity">
  </div>

  <input type="submit" value="Crear">
</form>